numpy==1.19.5
matplotlib==3.3.4
wordcloud==1.8.1
PySoundFile==0.10.3.post1
h5py==3.1.0
tensorflow==2.6.0
scikit-learn==0.24.2
librosa==0.8.0
streamlit==0.84.2
sounddevice==0.4.4
git+https://github.com/openai/whisper.git
